body{
    margin: 0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    background-color: black;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: space-between;
}

nav a:hover{
    color: orange;
}